
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-image: url('../img/backgroundsite_dark.png');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

.center {
  display: block;
  margin-top: 80;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  box-shadow: 0px 0px 8px #000000;
}

nav {
  list-style-type: none;
  margin: 1;
  padding: 0;
  text-align: center;
}

.nav-active {
  color: #8a56f7;
  text-decoration: none;
  font-style: normal;
  margin-left:10px;
  margin-right:10px;
}

.nav-settings {
  color: white;
  text-decoration: none;
  font-style: normal;
  margin-left:10px;
  margin-right:10px;
}

.text {
  color: white;
  text-align: center;
  font-family: Roboto
}

.title {
  color: white;
  text-align: center;
  margin-top: 100;
  font-family: Roboto
}

h3.footer {
  margin-top: 50;
  color: white;
  text-align: center;
  font-family: Roboto;
  font-weight: normal;
}