@font-face {
  font-family: 'Roboto';
  src: url('/public/cdn/font/Roboto-VF.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/public/cdn/font/Montserrat.woff2') format('woff2'),
    url('/public/cdn/font/Montserrat.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --purple: #60519b;
  --purple-dark: rgb(91, 1, 165);
  --purple-dark2: rgb(135, 0, 212);
  --purple-dark3: rgb(51, 0, 94);
  --purple-light: rgb(203, 152, 245);
  --black: #06000a;
  --black2: #19141d;
  --literally-black: #000000;
  --white: #ffffff;
  --white2: #cdc7da;

  --footer-link-color: #93c5fd;
}

/* Geral */
*,
*::before,
*::after {
  scrollbar-color: var(--white) var(--black2);
}

body {
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  background-color: var(--black);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s ease, color 0.5s ease;
  box-sizing: border-box;
}

main {
  flex: 1;
}

footer {
  background-repeat: no-repeat;
  background-image: url('/src/cdn/img/png/footer.png');
  background-size: 25%;
  background-position: right center;
  background-color: var(--literally-black);
  border-top: 2px solid var(--purple-dark3);
  color: var(--white);
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 5.5rem;
}

footer a {
  color: var(--footer-link-color);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer div {
  display: flex;
  justify-content: center;
  gap: 10px;
}

footer .betaEnglish {
  color: red;
  position: relative;
  bottom: 0;
}



p {
  text-decoration: none;
}

a,
button {
  pointer-events: auto;
  border-color: transparent;
}

.column {
  display: flex;
  flex-direction: column;
}

.mobile {
  display: none;
}

#content {
  margin-top: 60px;
}

.svgContainer .svgIcon,
.svgLink {
  display: flex;
  width: 3rem;
  height: 3rem;
  transition: fill 0.5s ease;
}

.svgContainer {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.section {
  display: none;
  width: 100%;
  height: 100vh;
  padding: 10vh 2vw 2vw;
  box-sizing: border-box;
}

.section.active {
  display: block;
  left: 0;
}

nav {
  height: 60px;
  background-color: var(--literally-black);
  top: 0;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

nav a.main-title {
  font-size: 25px;
  font-family: Montserrat;
}

/* Container principal */
#mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* LEFT */
left {
  position: relative;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

left .desktop {
  color: var(--white);
  text-decoration: none;
  font-family: Roboto;
}

left .desktop:hover {
  color: var(--purple-light);
  transition: color .5s ease;
}

/* RIGHT */
right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* Partição */
.partition {
  width: 2px;
  height: 35px;
  background-color: var(--white);
}

/* Info Nav */
.infoOnNav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.settings-icon svg {
  width: 25px;
  height: 25px;
  fill: var(--white);
}

.version {
  top: 1px;
  color: var(--white);
  font-size: .8125rem;
  position: relative;
  bottom: 4px;
}

/* Idiomas */
.mainLanguage {
  position: relative;
  right: 15px;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.language-link {
  text-decoration: none;
  color: var(--white);
  opacity: .5;
}

.language-link.active {
  opacity: 1;
  font-weight: bold;
}

.divider-vertical {
  width: 2px;
  height: 20px;
  background-color: var(--white);
}

.divider-dot {
  width: 2px;
  height: 4px;
  background-color: var(--white);
}

/* MOBILE */
.mobile {
  display: none;
}

@media (max-width: 768px) {

  left .desktop,
  right .desktop {
    display: none;
  }

  .mobile {
    display: block;
    margin-right: 1rem;
  }
}

/* HR */
.nav-hr {
  position: fixed;
  top: 2.5rem;
  z-index: 1;
}




h1 {
  font-family: Roboto;
  font-size: 2rem;
}

hr {
  position: relative;
  border: 0;
  height: 0.125rem;
  background: var(--white);
  border-radius: 8px;
  margin: 1.25rem 0;
  z-index: 2;
}

a {
  color: var(--white);
  font-family: Roboto;
  text-decoration: none;
}

button {
  border-color: transparent;
  border-radius: 10px;
  background-color: var(--black2);
  color: var(--white);
  padding: 10px;
  cursor: pointer;
}

#bodyLink {
  text-decoration: underline;
  text-decoration-color: var(--purple);
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  max-width: 50%;
  margin: 0;
}

.contagem.color {
  font-weight: 500;
  color: var(--purple-dark2);
}

.heartDiv {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}




/* Last.fm CSS */
.lastfm.toptrack {
  position: relative;
  top: 0;
  width: 50%;
  height: auto;
  background: linear-gradient(90deg,
      var(--black2) 0%,
      var(--black2) 30%,
      var(--black2) 70%,
      transparent 100%);
  border-radius: 10px;
  border-left: 4px solid var(--purple-dark2);
  display: flex;
  align-items: center;
  padding: 10px;
  padding-top: 20px;
}

.lastfm.toptrack img {
  margin-right: 10px;
}

.lastfm.toptrack div {
  display: flex;
  flex-direction: column;
}

.lastfm.toptrack h1,
.lastfm.toptrack p {
  margin: 0;
  color: var(--white);
}

h1.toptrack.indextitle {
  font-size: 1.25rem;
  position: relative;
  margin-bottom: -10px;
  z-index: 3;
  left: 10;
}

a.toptrack.scrobbles {
  position: relative;
  background: transparent;
  font-weight: 600;
  left: 60px;
  font-size: 1.25rem;
  text-align: center;
  width: auto;
}




/* Estilos para links e botões desativados */
a:disabled,
a[disabled] {
  cursor: not-allowed;
  color: #666;
}

button:disabled,
button[disabled] {
  cursor: not-allowed;
  border: 0.0625rem;
  border-style: solid;
  border-radius: 0.625rem;
  color: #666;
}

a:disabled:hover,
a[disabled]:hover {
  cursor: not-allowed;
  color: #666;
}

button:disabled:hover,
button[disabled]:hover {
  background-color: transparent;
  cursor: not-allowed;
  border: 0.0625rem;
  border-style: solid;
  border-radius: 0.625rem;
  color: #666;
}

/* Popup */
.popup {
  font-family: Roboto;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  display: none;
  transition: color 0.5s ease;
  animation: fadeout 3s ease-in-out forwards;
  z-index: 9000;
}

.popup.green {
  background-color: rgb(135, 0, 212);
  opacity: 80%;
}

.popup.red {
  background-color: red;
  opacity: 80%;
}




/* Styles específicos */
.mdPurple {
  text-align: left;
}

.mdPurple blockquote {
  font-family: Roboto;
  font-size: 1rem;
  border-left: 4px solid var(--purple-dark2);
  margin: 1em 0;
  padding: 0.5em 1em;
  background-color: var(--black2);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.mdPurple blockquote::before {
  font-size: 1rem;
  color: var(--purple-dark2);
  margin-right: 0.2em;
}

.mdPurple blockquote::after {
  font-size: 1rem;
  color: var(--purple-dark2);
  margin-left: 0.2em;
}

.mdPurple pre {
  margin: 1em 0;
  padding: 0.5em 1em;
  background-color: var(--black2);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.mdPurple a {
  color: var(--purple-light);
  text-decoration: underline;
}

.mdPurple table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

.mdPurple th,
.mdPurple td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.mdPurple th {
  background-color: var(--purple-dark);
  color: white;
}

.mdPurple tr:nth-child(even) {
  background-color: var(--black2)
}

.mdPurple code {
  background-color: var(--black2);
}



/* CSS específico */
h1[style='color: rgb(162, 0, 255)'] {
  padding-left: 0.63rem;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 2px;
}


p[data-translate='indexTextAboutMe'] {
  padding-right: 0.3125rem;
}



/* Keyframes */
.slide {
  animation: slideIn 3s forwards;
}

@keyframes slideIn {
  0% {
    left: 100%;
  }

  100% {
    left: 0;
  }
}

.slideTop {
  animation: slideTop 2s forwards;
}

@keyframes slideTop {
  0% {
    top: 100%;
  }

  100% {
    top: 0;
  }
}

.slideRight {
  position: relative;
  animation: slideRight 1.5s forwards;
}

@keyframes slideRight {
  0% {
    right: 100%;
  }

  100% {
    right: 0;
  }
}

.fade {
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade0-3 {
  animation: fade0-3 2s forwards;
}

@keyframes fade0-3 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.3;
  }
}

/* Settings keyframes */
@keyframes fadeout {
  0% {
    opacity: 80%;
  }

  80% {
    opacity: 80%;
  }

  100% {
    opacity: 0;
  }
}


/* CSS para celulares */
@media screen and (max-width: 768px) {
  .mobile {
    display: block;
  }

  /* Menu */
  body.no-scroll {
    overflow: hidden;
  }

  .mainNav.mobile {
    display: block;
  }

  .menuToggle {
    position: fixed;
    top: 0.625rem;
    right: 1.25rem;
    z-index: 99999;
    background-color: var(--black2);
    color: var(--white);
    border: none;
    padding: 0.625rem 0.9375rem;
    cursor: pointer;
  }

  .mobileMenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black2);
    z-index: 99999;
    justify-content: center;
    align-items: center;
  }

  .menuBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: all;
  }

  .menuNav {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: transparent;
    height: 100%
  }

  .menuLink.main {
    position: relative;

    top: 10%;
    margin-bottom: 50%;

    font-size: 35px;
    font-family: Montserrat;
  }

  .menuLink {
    color: var(--white);
    text-decoration: none;
    font-size: 2em;
    margin: 1.25rem 0;
    transition: color 0.3s;
    z-index: 1001;
  }

  .menuLink.infoButton {
    font-size: 1em;
    top: 100px;
    position: relative;
  }

  .menuLink:hover {
    color: var(--purple-dark);
  }

  .showMenu {
    display: flex;
  }

  .mainNav.desktop {
    display: none;
  }

  .mainLanguage {
    position: absolute;
    top: 50px;
    right: 0;
    width: 17vh;
  }

  .container {
    max-width: 100%;
  }


  .lastfm.toptrack {
    width: 90%;
  }

  a.toptrack.scrobbles {
    left: 10px;
  }

  hr {
    z-index: 1;
  }

  .desktop {
    display: none;
  }


  footer {
    background-image: none;
  }
}


.light-theme {
  --purple: #60519b;
  --purple-dark: #8463c3;
  --purple-dark2: #8747ff;
  --purple-dark3: #998cd4;
  --purple-light: #6f41ca;
  --black: #f4f1fa;
  --black2: #cdc7da;
  --literally-black: #ffffff;
  --white: #000000;
  --white2: #19141d;

  --footer-link-color: #203958;
}